html
    head
        title Login successfully
        include ./component/head.pug
    body
        include ./component/header.pug
        .wrapper.fadeInDown
            .alert.alert-success(role='alert')
                h4.alert-heading Well done!
                p
                    | You are successfully logged in.
                hr
                p.mb-0
                    | Go to home page.
        include ./component/footer.pug
