.wrapper.fadeInDown
  #formContent
    // Tabs Titles
    // Icon   
    form(action='/auth/google', method="POST")
      input#login.fadeIn.second(type='text', name='login', placeholder='login')
      input#password.fadeIn.third(type='text', name='login', placeholder='password')
      input.fadeIn.fourth(type='submit', value='Log In')
    // Remind Passowrd
    #formFooter
      a.underlineHover(href='#') Forgot Password?